@use "~tailwindcss/base";
@use "~tailwindcss/components";
@use "~tailwindcss/utilities";


:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}



//
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.33%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

.animate-slide {
  animation: slide 30s linear infinite;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-slide:hover {
  animation-play-state: paused;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

.scrollbar {
  scrollbar-width: auto;
  scrollbar-color: theme('colors.violet.500') theme('colors.violet.900');
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: theme('colors.violet.900');
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: theme('colors.violet.500');
  border-radius: 9999px;
  border: 3px solid theme('colors.violet.900');
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: theme('colors.violet.400');
}